.container > div {
    text-align: center;
}

.blue {
    background-color: #006cfa;
    border: white 1px solid;
    color: white;

    padding: 10px;
}

.green {
    background-color: #00e165;
    border: #006cfa 1px solid;
    
    padding: 10px;

}